<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Constellation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/job-postings">Job Postings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat">Chats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-volt">MyVolt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authentication">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
